.contact_header{

    background: linear-gradient(rgb(129, 194, 247),#fff);
}

.contact_title , .massage_title{
    color: rgb(13, 36, 99);
}

.massage_email{
    padding: 8px 10px ;
    border-radius: 30px;
}

.text_area{
    border-radius: 20px;
    padding: 8px 10px;
    letter-spacing: .5px;
    resize: none;
}

.main_contact_part{
    background: linear-gradient(#fff,rgba(181, 223, 255, 0.801));;
}